/*--rich-black-fogra-39: #0b090aff;
--eerie-black: #161a1dff;
--blood-red: #660708ff;
--ruby-red: #a4161aff;
--carnelian: #ba181bff;
--imperial-red: #e5383bff;
--black-shadows: #b1a7a6ff;
--light-gray: #d3d3d3ff;
--cultured: #f5f3f4ff;
--white: #ffffffff;*/

@media (max-width: 800px){
  .desktop{
    display: none;
  }
}

@media (min-width: 800px){
  .mobile{
    display: none;
  }
}

a{
  text-decoration: none;
}

a:hover{
  color: #a4161aff;
}

html{
  background-image: url("../media/background3.png");
  background-size: contain;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

div{
  background: linear-gradient(rgba(22, 26, 29,0),rgba(22, 26, 29, 0.4)10% 90%,rgba(22, 26, 29,0));
}

.logo, .mobile, .desktop{
  color: #ffffffff;
  font-size: 2vh;
}

.header__content{
  overflow: hidden;
  background-color: #161a1dff;
  height: auto;
  width: 100vw; 
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.section__content{
  height: auto;
  width: 97vw;
  margin-top: 3vh;
}

.section-title{
  color: #ffffffff;
  font-style: bold;
  font-size: 3vh;
}

.section-sub-title{
  color: #b1a7a6ff;
  font-style: bold;
  font-size: 2.5vh;
}

.section-content{
  color: #d3d3d3ff;
  font-size: 2vh;
  margin-left: 0.5%;
  background: none;
}

.front-image{
  border-radius: 5px;
  max-height: 300px;
  max-width: 96%;
  margin-left: 0.5%;
}

.back-image{
  border-radius: 5px;
  max-height: 250px;
  max-width: 96%;
  margin-left: 0.5%;
}